// Colors Variables Settings Stylesheet
// ========================================

$black: #000000;
$blue: blue;
$green: green;
$pink: #FFC0CB;
$white: #FFFFFF;
$grey: grey;

// Main Palette List
$colors: (
  'black':    $black,
  'blue':     $blue,
  'green':    $green,
  'pink':     $pink,
  'grey':     $grey
);
