@mixin button($background-value, $color-value) {
  background-color: $background-value;
  color: $color-value;
  border-radius: 5px;
  padding: $spacer-s $spacer-m;
  font-size: 25px;
  outline: none; // TODO: Remind class!
}
